<br></br>
<br></br>

<h1>Broken Authentication</h1>
<h2>Login</h2>

<form>
	Username:<br>
	<input type="text" name="name"><br>
	Password:<br>
	<input type="password" name="pw">
	<br>
	<input type="submit" value="Login">
</form>

<br></br>

<div id="frame">
	@ViewData["result"]
</div>
