<br></br>
<br></br>

<h1>Insufficient Logging</h1>

<form>
	<input type="hidden" id="showlogs" name="showlogs" value="1">
	<input type="submit" value="Show Logs">
</form>

<br></br>

<div id="frame">
	@Html.Raw(@ViewData["result"])
</div>
