<br></br>
<br></br>

<h1>Vulnerable Component</h1>
<h2>Post your comment</h2>

<form>
	comment:<br>
	<input type="text" name="comment"><br>
	<input type="submit" value="Post">
</form>

<br></br>

<div id="frame">
	@Html.Raw(@ViewData["result"])
</div>
