<br></br>
<br></br>

<h1>XXE</h1>
<h2>Send your request</h2>

<form>
	Request:<br>
	<input type="text" name="xml"><br>
	<input type="submit" value="Send">
</form>

<br></br>

<div id="frame">
	@ViewData["result"]
</div>
